<!DOCTYPE html>
<html>
  <head>
	<title>Example Login Form</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
	<h1>Sign-up</h1>
    <div class="container">
        <form action="/signup" method="post">
            <div class="c1">
                <label for="name">Name: </label>
                <input type="text" name="name">
            </div>
            <div class="c1">
                <label for="eamil">Email: </label>
                <input type="email" name="email">
            </div>
            <div class="c1">
                <label for="password">Password: </label>
                <input type="password" name="password">
            </div>
            <div class="c1">
                <label for="number">Phone: </label>
                <input type="number" name="number">
            </div>
            <div class="button">
                <input id="butt" type="submit" value="submit">
            </div>
        </form>
        <h3>allready have an accout click below link to login</h3>
        <a href="/login">login</a>
    </div>
    
  </body>
</html>