<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple File</title>
</head>
<body>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file1">File 1: </label>
            <input type="file" name="file1" id="file1" required><br>
            <label for="file2">File 2: </label>
            <input type="file" name="file2" id="file2" required multiple><br>
            <button>Upload files</button>
        </form>
    </div>
</body>
</html>